<%= link_to   'Adicionar Animal',
    new_dashboard_animal_path,
              class: 'btn btn-primary btn-lg top' %>

<br><br>
<%= form_for(:search) do |f| %>
  <div class="field">
    <div class="input-group">
        <%= f.search_field :q, class: 'form-control',
        placeholder: 'Raça, Tipo, Tamanho...' %>
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
  </div>
<% end %>

<br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Id</td>
      <td>Picture</td>
      <td>Nome</td>
      <td>Genero</td>
      <td>Idade</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td>
          <h2><%= animal.id %></h2>
        </td>
        <% if animal.picture.present? %>
          <td><%= image_tag(animal.picture, width: 124, height: 124) %></td>
        <% end %>
        <td><%= link_to animal.name, [:dashboard, animal  ] %></td>
        <td><%= animal.gender %></td>
        <td><%= animal.getAge %></td>
        <% if current_user.eql?(animal.user) %>
        <td>
          <%= link_to 'Visualizar', [:dashboard, animal] %>
          <%= link_to 'Editar', edit_dashboard_animal_path(animal)  %>
          <%= link_to 'Excluir', [:dashboard, animal], :method => :delete,
          data: { confirm: 'Realmente deseja remover?' } %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

  <div id="paginate" class="text-center">
    <%= paginate(@animals) %>
  </div>
</div>